input {
  margin-bottom: 8%;
  font-size: 18px;
  padding: 1% 0 1% 1%;
  border: 0;
  border-bottom: 1px solid #DDD;
  outline: none;
  text-decoration: none;
  width: 90%;
}
a.submit {
  border: 2px solid #000;
  color: #000;
  transition: all 0.40s ease-in-out;
  cursor: pointer;
  border-radius: 33px;
  font-size: 16px;
}
a.submit:hover {
  box-shadow: 0 0 10px 2px #000;
  background-color: #000;
  color: #FFF;
}

/* Responsividade */
@media (max-width: 575.98px) {
  .modal-dialog {
    margin: 0;
    max-width: 100% !important;
  }
  .modal-body .card.border-0 {
    padding: 0 16px 20px 16px;
  }
  input {
    width: 100%;
    font-size: 16px;
  }
  a.submit {
    width: 100% !important;
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1024.98px) {
  input { width: 100%; }
  a.submit { width: 75%; }
}
