a.btn-whats {
  background-color: #38b553;
  color: #FFF;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  position: fixed;
  z-index: 10;
  bottom: 1.5%;
  right: 0.5%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0.5px 0.5px 10px 0.5px #38b553;
  border-radius: 35px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  animation: pulse 3s infinite;
  -webkit-animation: pulse 3s infinite;
}
.btn-whats:hover {
  background-color: #FFF;
  color: #38b553;
  text-decoration: none;
}
.btn-whats:hover svg {
  fill: #38b553;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
footer {
  margin: 10% 0 0;
}
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 ul {
  list-style: none;
}
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 p.h5 {
  font-weight: bold;
  margin-bottom: 2rem;
}
a,
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 ul li a,
footer .container .row .col-sm-1.col-md-1.col-lg-1.col-xl-1 a {
  transition: all 0.45s ease-in-out;
}
footer .container .row svg {
  fill: #FFFFFF;
  filter: drop-shadow(0px 1px 2px #FFF);
}
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 ul li a {
  height:45px !important;
  min-width:45px !important;
}
footer .container .row .col-sm-1.col-md-1.col-lg-1.col-xl-1 a {
  &:hover {
    color: #4B3A8F;
  }
  &:hover svg {
    fill: #4B3A8F;
    filter: drop-shadow(0px 1px 2px #4B3A8F);
  }
}
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 ul li {
  cursor: pointer;
}
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 ul li:focus a,
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 ul li:active a,
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 ul li:hover a {
  color: #4B3A8F;
  font-weight: bold;
  font-size: 18px;
}
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 p.h5,
footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 ul li a,
footer .container .row.creditCard .col-sm-3.col-md-3.col-lg-3.col-xl-3,
footer .container .row.directs p {
  color: #FFFFFF;
  text-shadow: 0 0 8px;
}
footer .container .row.creditCard .col-sm-3.col-md-3.col-lg-3.col-xl-3 {
  max-width: 23%;
  font-weight: bold;
  font-family: 'WALSHEIMBOLD', sans-serif;
}
footer .container .row.redesSociais,
footer .container .row.creditCard,
footer .container .row.directs {
  margin: 5.5% 0;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {

  footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 ul li a,
  footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 p.h5 ul p {
    font-size: 14px;
  }
  footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 p.h5 {
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
  footer .container .row.creditCard .col-sm-3.col-md-3.col-lg-3.col-xl-3 {
    max-width: 25%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 .m-0.p-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 {
    align-items: center !important;
    justify-content: center !important;
  }
  footer .container .row .col-sm-3.col-md-3.col-lg-3.col-xl-3 p.h5 {
    margin: 2rem 0 1.5rem 0;
  }
  .col-sm-1.col-md-1.col-lg-1.col-xl-1.d-flex.justify-content-center.align-items-center {
    width: 25%;
  }
  footer .container .row.creditCard .col-sm-2.col-md-2.col-lg-2.col-xl-2 {
    margin: 4% 0;
  }
  footer .container .row.creditCard .col-sm-3.col-md-3.col-lg-3.col-xl-3 {
    max-width: 80%;
  }
  footer .container .row.directs p {
    text-align: center;
  }
}
