h1 {
  color: #FFF;
  font-weight: 200 !important;
  letter-spacing: -0.015em;
  line-height: 1.1;
  font-size: 60px;
}
#genero {
  margin-top: 8vh;
}
.div2 {
  border-top: 1px solid #252525;
}
.div2 a.h5 {
  color: #dededf;
  margin-bottom: 10px !important;
}
