<section class="card">
  <div class="container-fluid">
    <div class="row">
      <nav class="w-100 d-flex justify-content-between align-items-center">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-start align-items-center">Olá, {{ nome }}</div>
        <ul class="navbar col-sm-8 col-md-8 col-lg-8 col-xl-8 justify-content-around mb-0">
          <li class="nav-item active">
            <a class="nav-link h5 mb-0" href="" [routerLink]="['/assinatura']">Assinatura</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5 mb-0" href="" [routerLink]="['/pedidos']">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5 mb-0" href="" [routerLink]="['/atualizar-informacoes']">Configurações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5 mb-0" href="" [routerLink]="['/formas-de-pagamento']">Formas de Pagamento</a>
          </li>
        </ul>
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end align-items-center">
          <p class="talk m-0 p-0">Fale Conosco</p>
        </div>
      </nav>
    </div>
  </div>
</section>
