.card p.h2 {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 0 #000;
}
.modal-dialog .modal-content .modal-header .close {
  position: absolute;
  right: 18px;
  top: 15px;
  z-index: 20;
  padding: 0.5rem 0.5rem;
}
