<div class="modal-dialog modal-dialog-centered modal-lg m-0">
  <div class="modal-content">
    <div class="modal-header border-0 p-0">
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card border-0 d-flex justify-content-center align-items-center">
        <p class="h2 font-weight-bold text-center text-uppercase mb-0">Música adicionada ao carrinho!!!</p>
      </div>
    </div>
  </div>
</div>

