<main>
  <section class="one">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 card one">
          <div class="blackBar position-absolute">
            <p class="h6 m-0">MELHOR VALOR</p>
          </div>
          <div class="card-header d-flex justify-content-center align-items-center">
            <p class="h3 font-weight-bold">Músicas Assinaturas</p>
          </div>
          <div class="card-body">
            <ul id="myTab" class="nav nav-tabs">
              <li class="nav-item">
                <a id="home-tab" class="nav-link active show" data-toggle="tab" href="" role="tab"
                   aria-controls="home" aria-selected="true">Mensalmente</a>
              </li>
              <li class="nav-item">
                <a id="profile-tab" class="nav-link" data-toggle="tab" href="" role="tab" aria-controls="profile"
                   aria-selected="false">Anualmente</a>
              </li>
            </ul>
            <div class="cardInt priceDad d-flex flex-column align-items-center justify-content-center">
              <div class="price d-flex justify-content-center align-items-center">
                <p class="h2 font-weight-bold">R$12,99</p>
                <p class="h6 m-0 font-weight-bold">/faixa</p>
              </div>
              <div class="priceMsg d-flex justify-content-center align-items-center">
                <small class="small">R$64,95/mês, cobrado mensalmente</small>
              </div>
            </div>
            <div class="cardInt btn d-flex justify-content-center align-items-center">
              <button class="btn btn-warning w-75" type="button">ASSINE JÁ</button>
            </div>
            <div class="cardInt inc mt-4 d-flex flex-column justify-content-center align-items-center">
              <div class="faixas d-flex justify-content-center align-items-center">
                <p class="font-weight-bold h4 mb-0 mr-2">5 faixas</p>
                <small class="small">por mês</small>
              </div>
              <div class="trackDescription d-flex flex-column justify-content-start align-items-start">
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">done</span>
                  <p class="h6">Cada licença inclui todas as versões de faixas disponíveis</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">done</span>
                  <p class="h6">Inclui Licenças Padrão</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">close</span>
                  <p class="h6">Os créditos mensais não são cumulativos</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="faq d-flex justify-content-center align-items-center">
              <p class="faqInt"><a [routerLink]="['/faq']">Veja todos os detalhes na página Perguntas Frequentes</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 card two">
          <div class="card-header d-flex flex-column justify-content-center align-items-center">
            <p class="h3 font-weight-bold text-center">Música ou Efeitos Sonoros</p>
            <p class="h3 font-weight-bold text-center">Compra Única</p>
          </div>
          <div class="card-body">
            <ul id="myTab1" class="nav nav-tabs">
              <li class="nav-item">
                <a id="home-tab1" class="nav-link active show" data-toggle="tab" href="" role="tab"
                   aria-controls="home" aria-selected="true">Faixa Musical</a>
              </li>
              <li class="nav-item">
                <a id="profile-tab1" class="nav-link" data-toggle="tab" href="" role="tab" aria-controls="profile"
                   aria-selected="false">Efeitos sonoros</a>
              </li>
            </ul>
            <div class="cardInt priceDad d-flex flex-column align-items-center justify-content-center">
              <div class="price d-flex justify-content-center align-items-center">
                <p class="h2 font-weight-bold">R$24,99</p>
                <p class="h6 m-0 font-weight-bold">/faixa</p>
              </div>
              <div class="priceMsg d-flex justify-content-center align-items-center">
                <small class="small">R$84,95/mês, cobrado mensalmente</small>
              </div>
            </div>
            <div class="cardInt btn d-flex justify-content-center align-items-center">
              <button class="btn btn-warning w-75" type="button">ASSINE JÁ</button>
            </div>
            <div class="cardInt inc mt-4 d-flex flex-column justify-content-center align-items-center">
              <div class="faixas d-flex justify-content-center align-items-center">
                <p class="font-weight-bold h4 mb-0 mr-2">5 faixas</p>
                <small class="small">por mês</small>
              </div>
              <div class="trackDescription d-flex flex-column justify-content-start align-items-start">
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">done</span>
                  <p class="h6">Cada licença inclui todas as versões de faixas disponíveis</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">done</span>
                  <p class="h6">Inclui Licenças Padrão</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">close</span>
                  <p class="h6">Os créditos mensais não são cumulativos</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="faq d-flex justify-content-center align-items-center">
              <p class="faqInt"><a [routerLink]="['/faq']">Veja todos os detalhes na página Perguntas Frequentes</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 card three">
          <div class="card-header d-flex justify-content-center align-items-center">
            <p class="h3 font-weight-bold">Música ou Efeitos FREE</p>
          </div>
          <div class="card-body">
            <ul id="myTab2" class="nav nav-tabs">
              <li class="nav-item">
                <a id="home-tab2" class="nav-link active show" data-toggle="tab" href="" role="tab"
                   aria-controls="home" aria-selected="true">Faixa Musical</a>
              </li>
              <li class="nav-item">
                <a id="profile-tab2" class="nav-link" data-toggle="tab" href="" role="tab" aria-controls="profile"
                   aria-selected="false">Efeitos sonoros</a>
              </li>
            </ul>
            <div class="cardInt priceDad d-flex flex-column align-items-center justify-content-center">
              <div class="price d-flex justify-content-center align-items-center">
                <p class="h2 font-weight-bold">FREE</p>
              </div>
            </div>
            <div class="cardInt btn d-flex justify-content-center align-items-center">
              <button class="btn btn-warning w-75" type="button">ASSINE JÁ</button>
            </div>
            <div class="cardInt inc mt-4 d-flex flex-column justify-content-center align-items-center">
              <div class="faixas d-flex justify-content-center align-items-center">
                <p class="font-weight-bold h4 mb-0 mr-2">1 faixas</p>
                <small class="small">por mês</small>
              </div>
              <div class="trackDescription d-flex flex-column justify-content-start align-items-start">
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">close</span>
                  <p class="h6">Cada licença inclui todas as versões de faixas disponíveis</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">close</span>
                  <p class="h6">Inclui Licenças Padrão</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">close</span>
                  <p class="h6">Os créditos mensais não são cumulativos</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="faq d-flex justify-content-center align-items-center">
              <p class="faqInt"><a [routerLink]="['/faq']">Veja todos os detalhes na página Perguntas Frequentes</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="two">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-column align-items-center justify-content-center">
          <p class="h1 mb-4">Compare nossas licenças livres de direitos</p>
          <p class="h5">Está em dúvida sobre quais licenças você precisa? Nosso quadro prático ajuda a comparar os tipos de projetos por licença.</p>
          <p class="h5 font-weight-bold mt-4 mb-3">As licenças são válidas para uma faixa ou efeito sonoro e inclui todos os recursos a seguir (quando disponíveis):</p>
          <div class="control d-flex justify-content-between align-items-center w-100">
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Música inteira</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Loops</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Trechos</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Stems</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Versão instrumental</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Versão imersiva</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
          <table class="table license">
            <thead>
              <tr>
                <th colspan="2"></th>
                <th class="mid">Standard</th>
                <th>Premium</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="top early" rowspan="2">Web</th>
                <td class="top">Websites, social media (incl. Facebook, Twitter, Instagram, TikTok, Twitch)</td>
                <td class="mid"><span class="material-icons">done</span></td>
                <td class="text-center"><span class="material-icons">done</span></td>
              </tr>
              <tr>
                <td class="top">Online streaming (YouTube and Vimeo)</td>
                <td class="mid">Personal Use Only</td>
                <td class="text-center">Personal Use Only</td>
              </tr>
              <tr>
                <th class="top early">Corporate Videos & Personal Use</th>
                <td class="top">Online, wedding and corporate</td>
                <td class="mid"><span class="material-icons">done</span></td>
                <td class="text-center"><span class="material-icons">done</span></td>
              </tr>
              <tr>
                <th class="top early">Apps, Games & DVDs</th>
                <td class="top">Free or revenue-generating — includes revenue generated by in-app purchases or advertising</td>
                <td class="mid"><span class="material-icons">close</span></td>
                <td class="text-center">Up to 1,000 copies or downloads</td>
              </tr>
              <tr>
                <th class="top early">Podcasts</th>
                <td class="top">Free or revenue-generating</td>
                <td class="mid"><span class="material-icons">done</span></td>
                <td class="text-center"><span class="material-icons">done</span></td>
              </tr>
              <tr>
                <th class="top early">Film & Theatrical</th>
                <td class="top">Movies, plays and live performances</td>
                <td class="mid">Student Project Only</td>
                <td class="text-center">Student Project Only</td>
              </tr>
              <tr>
                <th class="top early" rowspan="2">TV & Radio</th>
                <td class="top">Series, films, news, entertainment and talk shows</td>
                <td class="mid"><span class="material-icons">close</span></td>
                <td class="text-center">Pilots and public broadcasting</td>
              </tr>
              <tr>
                <td class="top">Advertising</td>
                <td class="mid"><span class="material-icons">close</span></td>
                <td class="text-center">Single territory</td>
              </tr>
              <tr>
                <th class="top early">Industrial & Point of Sale</th>
                <td class="top">Includes industrial events, trade shows and in-store displays</td>
                <td class="mid"><span class="material-icons">close</span></td>
                <td class="text-center">Single territory</td>
              </tr>
              <tr>
                <th class="top early">Other Projects</th>
                <td class="top" colspan="3">If you are working on a multi-territory campaign, studio film, or project not listed above, our team will be happy to assist you with a license customized to your needs. Contact us</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="faq access">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-10 col-xl-12 d-flex flex-column justify-content-center align-items-center">
          <p class="h1">Perguntas Frequentes</p>
          <p class="h5 text-center">Tudo o que você sempre quis saber sobre música isenta de royalties em um só lugar. Tem uma questão? Nós temos a resposta.</p>
          <a class="btn btn-warning p-3" [routerLink]="['/faq']">Perguntas Frequentes na FAQ</a>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
