<main>
  <section class="one">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 card one">
          <div class="blackBar position-absolute">
            <p class="h6 m-0">MELHOR VALOR</p>
          </div>
          <div class="card-header d-flex justify-content-center align-items-center" style="border: 2px solid #FFF;">
            <p class="h3 font-weight-bold">Assinatura Mensal</p>
          </div>
          <div class="card-body">
            <ul id="myTab" class="nav nav-tabs">
              <li class="nav-item">
                <a id="home-tab" class="nav-link active show" data-toggle="tab" href="" role="tab" aria-controls="home"
                  aria-selected="true">Mensalmente</a>
              </li>
              <li class="nav-item">
                <a id="profile-tab" class="nav-link" data-toggle="tab" href="" role="tab" aria-controls="profile"
                  aria-selected="false">Anualmente</a>
              </li>
            </ul>
            <div class="cardInt priceDad d-flex flex-column align-items-center justify-content-center">
              <div class="price d-flex justify-content-center align-items-center">
                <p class="h2 font-weight-bold">R$49,99</p>
                <p class="h6 m-0 font-weight-bold">/mês</p>
              </div>
              <div class="priceMsg d-flex justify-content-center align-items-center">
                <small class="small">Cobrado mensalmente</small>
              </div>
            </div>
            <div class="cardInt btn d-flex justify-content-center align-items-center">
              <button class="btn btn-warning w-75" type="button">ASSINE JÁ</button>
            </div>
            <div class="cardInt inc mt-4 d-flex flex-column justify-content-center align-items-center">
              <div class="faixas d-flex justify-content-center align-items-center">
                <p class="font-weight-bold h4 mb-0 mr-2">Milhares de músicas à sua disposição.</p>
              </div>
              <div class="trackDescription d-flex flex-column justify-content-start align-items-start">
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">done</span>
                  <p class="h6">Download ilimitado durante a vigência da assinatura</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">done</span>
                  <p class="h6">Uso comercial permitido</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">done</span>
                  <p class="h6">Cancele quando quiser</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="faq d-flex justify-content-center align-items-center">
              <p class="faqInt"><a [routerLink]="['/faq']">Veja todos os detalhes na página Perguntas Frequentes</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 card two">
          <div class="card-header d-flex flex-column justify-content-center align-items-center">
            <p class="h3 font-weight-bold text-center">Licenças de Músicas</p>
            <p class="h3 font-weight-bold text-center">Por Tempo Determinado</p>
          </div>
          <div class="card-body">
            <ul id="myTab1" class="nav nav-tabs">
              <li class="nav-item">
                <a id="home-tab1" class="nav-link active show" data-toggle="tab" href="" role="tab" aria-controls="home"
                  aria-selected="true">6 meses</a>
              </li>
              <li class="nav-item">
                <a id="profile-tab1" class="nav-link" data-toggle="tab" href="" role="tab" aria-controls="profile"
                  aria-selected="false">12 meses</a>
              </li>
            </ul>
            <div class="cardInt priceDad d-flex flex-column align-items-center justify-content-center">
              <div class="price d-flex justify-content-center align-items-center">
                <p class="h2 font-weight-bold">R$199,99</p>
                <p class="h6 m-0 font-weight-bold">/6 meses</p>
              </div>
              <div class="priceMsg d-flex justify-content-center align-items-center">
                <small class="small">12 meses R$249,99 | Vitalício R$999,99</small>
              </div>
            </div>
            <div class="cardInt btn d-flex justify-content-center align-items-center">
              <button class="btn btn-warning w-75" type="button">ASSINE JÁ</button>
            </div>
            <div class="cardInt inc mt-4 d-flex flex-column justify-content-center align-items-center">
              <div class="faixas d-flex justify-content-center align-items-center">
                <p class="font-weight-bold h4 mb-0 mr-2">5 faixas</p>
                <small class="small">por mês</small>
              </div>
              <div class="trackDescription d-flex flex-column justify-content-start align-items-start">
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">done</span>
                  <p class="h6">Cada licença inclui todas as versões de faixas disponíveis</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">done</span>
                  <p class="h6">Inclui Licenças Padrão</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">close</span>
                  <p class="h6">Os créditos mensais não são cumulativos</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="faq d-flex justify-content-center align-items-center">
              <p class="faqInt"><a [routerLink]="['/faq']">Veja todos os detalhes na página Perguntas Frequentes</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 card three">
          <div class="card-header d-flex justify-content-center align-items-center">
            <p class="h3 font-weight-bold">Licenças de Efeitos Sonoros</p>
          </div>
          <div class="card-body">
            <ul id="myTab2" class="nav nav-tabs">
              <li class="nav-item">
                <a id="home-tab2" class="nav-link active show" data-toggle="tab" href="" role="tab" aria-controls="home"
                  aria-selected="true">Vitalício</a>
              </li>
            </ul>
            <div class="cardInt priceDad d-flex flex-column align-items-center justify-content-center">
              <div class="price d-flex justify-content-center align-items-center">
                <p class="h2 font-weight-bold">R$4,99</p>
                <p class="h6 m-0 font-weight-bold">/vitalício</p>
              </div>
            </div>
            <div class="cardInt btn d-flex justify-content-center align-items-center">
              <button class="btn btn-warning w-75" type="button">ASSINE JÁ</button>
            </div>
            <div class="cardInt inc mt-4 d-flex flex-column justify-content-center align-items-center">
              <div class="faixas d-flex justify-content-center align-items-center">
                <p class="font-weight-bold h4 mb-0 mr-2">1 faixas</p>
                <small class="small">por mês</small>
              </div>
              <div class="trackDescription d-flex flex-column justify-content-start align-items-start">
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">close</span>
                  <p class="h6">Cada licença inclui todas as versões de faixas disponíveis</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">close</span>
                  <p class="h6">Inclui Licenças Padrão</p>
                </div>
                <div class="incInt d-flex justify-content-start align-items-center">
                  <span class="material-icons">close</span>
                  <p class="h6">Os créditos mensais não são cumulativos</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="faq d-flex justify-content-center align-items-center">
              <p class="faqInt"><a [routerLink]="['/faq']">Veja todos os detalhes na página Perguntas Frequentes</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="two">
    <div class="container">
      <div class="row">
        <div
          class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-column align-items-center justify-content-center">
          <p class="h1 mb-4">Compare nossas licenças livres de direitos</p>
          <p class="h5">Está em dúvida sobre quais licenças você precisa? Nosso quadro prático ajuda a comparar os tipos
            de projetos por licença.</p>
          <p class="h5 font-weight-bold mt-4 mb-3">As licenças são válidas para uma faixa ou efeito sonoro e inclui
            todos os recursos a seguir (quando disponíveis):</p>
          <div class="control d-flex justify-content-between align-items-center w-100">
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Música inteira</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Loops</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Trechos</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Stems</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Versão instrumental</p>
            </div>
            <div class="column d-flex justify-content-start align-items-center">
              <span class="material-icons mr-2 p-0">done</span>
              <p class="h6 font-weight-bold mb-0">Versão imersiva</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
          <table class="table license">
            <thead>
              <tr>
                <th colspan="2"></th>
                <th class="mid">Padrão</th>
                <th class="text-center">Premium</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="top early" rowspan="2">Web</th>
                <td class="top">Sites, redes sociais (incl. Facebook, Twitter, Instagram, TikTok, Twitch)</td>
                <td class="mid"><span class="material-icons">done</span></td>
                <td class="text-center"><span class="material-icons">done</span></td>
              </tr>
              <tr>
                <td class="top">Transmissão online (YouTube e Vimeo)</td>
                <td class="mid">Uso pessoal apenas</td>
                <td class="text-center">Uso pessoal apenas</td>
              </tr>
              <tr>
                <th class="top early">Vídeos Corporativos & Uso Pessoal</th>
                <td class="top">Online, casamentos e corporativos</td>
                <td class="mid"><span class="material-icons">done</span></td>
                <td class="text-center"><span class="material-icons">done</span></td>
              </tr>
              <tr>
                <th class="top early">Apps, Jogos & DVDs</th>
                <td class="top">Gratuitos ou com geração de receita — inclui receita gerada por compras no app ou
                  publicidade</td>
                <td class="mid"><span class="material-icons">close</span></td>
                <td class="text-center">Até 1.000 cópias ou downloads</td>
              </tr>
              <tr>
                <th class="top early">Podcasts</th>
                <td class="top">Gratuitos ou com geração de receita</td>
                <td class="mid"><span class="material-icons">done</span></td>
                <td class="text-center"><span class="material-icons">done</span></td>
              </tr>
              <tr>
                <th class="top early">Filmes & Teatro</th>
                <td class="top">Filmes, peças e apresentações ao vivo</td>
                <td class="mid">Apenas projeto estudantil</td>
                <td class="text-center">Apenas projeto estudantil</td>
              </tr>
              <tr>
                <th class="top early" rowspan="2">TV & Rádio</th>
                <td class="top">Séries, filmes, notícias, entretenimento e talk shows</td>
                <td class="mid"><span class="material-icons">close</span></td>
                <td class="text-center">Pilotos e emissoras públicas</td>
              </tr>
              <tr>
                <td class="top">Publicidade</td>
                <td class="mid"><span class="material-icons">close</span></td>
                <td class="text-center">Território único</td>
              </tr>
              <tr>
                <th class="top early">Industrial & Ponto de Venda</th>
                <td class="top">Inclui eventos industriais, feiras e exibições em lojas</td>
                <td class="mid"><span class="material-icons">close</span></td>
                <td class="text-center">Território único</td>
              </tr>
              <tr>
                <th class="top early">Outros Projetos</th>
                <td class="top" colspan="3">Se você estiver trabalhando em uma campanha multi-território, filme de
                  estúdio ou
                  projeto não listado acima, nossa equipe terá prazer em ajudá-lo com uma licença personalizada às suas
                  necessidades. Entre em contato</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>
  <section class="faq access">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-10 col-xl-12 d-flex flex-column justify-content-center align-items-center">
          <p class="h1">Perguntas Frequentes</p>
          <p class="h5 text-center">Tudo o que você sempre quis saber sobre música isenta de royalties em um só lugar.
            Tem uma questão? Nós temos a resposta.</p>
          <a class="btn btn-warning p-3" [routerLink]="['/faq']">Perguntas Frequentes na FAQ</a>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
