<app-sub-menu></app-sub-menu>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-start align-items-center pt-5 title">
        <h1 class="font-weight-bold">Assinatura</h1>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 pb-5 d-flex flex-column justify-content-center align-items-center assinatura">
        <p class="h1 text-center mb-4">Você ainda não assinou.</p>
        <p class="h5 text-center">Com a assinatura mensal da MokBeats, você licencia 5 faixas por mês sob uma licença padrão por apenas R$64,95 mensais. Cobrado mensalmente.</p>
        <button class="btn-warning text-uppercase font-weight-bold" [routerLink]="['/finalizar-compra']">Assine Já</button>
        <a class="details h6 mt-4" [routerLink]="['/precos']">Ver Detalhes</a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-column justify-content-center align-items-center contato">
        <p class="h5">Alguma dúvida sobre seu pedido?</p>
        <a class="h5" [routerLink]="['/contato']">Fale Conosco</a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
