a {
  color: #007bff !important;
  cursor: pointer !important;
}
.modal-body .row .forgetPass {
  display: none;
}
.register, .modal-footer {
  display: flex;
}
.login, .resetPass {
  display: none;
}
.modal-footer p,
.modal-footer a,
.btnReset {
  font-weight: bold;
}
.modal-footer a {
  color: #007bff !important;
  cursor: pointer !important;
  font-size: 1.5rem;
}
.btnReset {
  font-size: 18px;
  color: #007bff;
}
#logCad {
  margin-bottom: 0;
}
input, select {
  width: 60%;
}
select {
  height: 40px;
  border-radius: 10px;
  outline: none;
  padding: 1%;
}
input, input:focus {
  outline: none !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #register, #login, #resetPass {
    padding: 0;
  }
  #register h1 {
    font-size: 2.2rem;
  }
  p.h5.w-50.text-center,
  #register p.h5.w-75.text-center {
    width: 90% !important;
    font-size: 17px;
  }
  input, select {
    width: 70%;
  }
  a.btn.btnReset {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 370px) {
  input, select {
    width: 80%;
  }
}
