<app-sub-menu></app-sub-menu>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 titleSearch d-flex mb-5">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center">
          <h1 class="font-weight-bold">Pedidos</h1>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center">
          <form [formGroup]="form" class="inputFilter d-flex align-items-center justify-content-between">
            <span class="material-icons d-flex justify-content-center align-items-center">search</span>
            <input class="form-control w-100" type="search" placeholder="Pesquisar em pedidos" aria-label="Search">
          </form>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-column align-items-center justify-content-center div2">
        <p class="h1 font-weight-bold text-center mb-4">Nenhum Pedido ainda</p>
        <p class="h5 text-center mb-3">Navegue por nossa grande seleção de músicas livres de direitos</p>
        <a [routerLink]="['/musicas']" class="navMusicas text-center">Navegar nas Músicas</a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
