<nav #nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a [routerLink]="['']" class="navbar-brand">
      <img class="logo" src="../../assets/images/Logomarca+logotipo_sem_fundo_horizontal_branca.png"
        alt="Mokbeats - Produção Musical" loading="lazy" />
    </a>

    <!-- Botão Hamburger para Mobile -->
    <button
      #navbarToggler
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="isMenuOpen"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Collapse -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown" [class.show]="isMenuOpen">
      <!-- Botão fechar (Mobile) -->
      <div class="close-btn-wrapper">
        <button class="btn-close-menu" (click)="closeNav()" aria-label="Fechar menu">
          <svg clip-rule="evenodd" fill="#fff" fill-rule="evenodd" width="24px" height="24px" stroke-linejoin="round"
            stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z" />
          </svg>
        </button>
      </div>

      <!-- Itens do Menu -->
      <ul class="navbar-nav menu-items">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" (mouseover)="mouseOver($event)" (mouseout)="mouseOut()"
            (click)="closeNav()">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/musicas']" (mouseover)="mouseOver($event)" (mouseout)="mouseOut()"
            (click)="closeNav()">Músicas</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/efeitos-sonoros']" (mouseover)="mouseOver($event)"
            (mouseout)="mouseOut()" (click)="closeNav()">Efeitos Sonoros</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/produtores']" (mouseover)="mouseOver($event)" (mouseout)="mouseOut()"
            (click)="closeNav()">Produtores</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.mokbeats-hub.com/"
            target="_blank"
            rel="noopener noreferrer"
            (mouseover)="mouseOver($event)"
            (mouseout)="mouseOut()"
            (click)="closeNav()">HUB</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/precos']" (click)="closeNav()">Preços</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Idioma
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="closeNav()">Português</a>
            <a class="dropdown-item" (click)="closeNav()">Inglês</a>
          </div>
        </li>
      </ul>

      <!-- Controles (Carrinho e Conta) -->
      <ul class="navbar-nav menu-controls">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link cart-link" [routerLink]="['/carrinho']" (click)="closeNav()">
            <span class="material-icons">shopping_cart</span>
            <small id="ms_number">0</small>
            <span class="txt-mobile">Carrinho</span>
          </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link person-link" (click)="modalOpen()">
            <span class="material-icons">person</span>
            <span class="txt-mobile" *ngIf="!isUserLoggedIn">Login / Cadastro</span>
            <span class="txt-mobile" *ngIf="isUserLoggedIn">Sua Conta</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
