<nav #nav class="navbar navbar-expand-lg navbar-light">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-between align-items-center pl-1">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 pl-0">
      <a [routerLink]="['']" class="navbar-brand" href="#">
        <img class="logo" src="../../assets/images/Logomarca+logotipo_sem_fundo_horizontal_branca.webp" alt="logo mokbeats"/>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100" id="menu">
        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 d-flex justify-content-end align-items-end menuInt">
          <li class="nav-item p-0">
            <a class="nav-link d-flex justify-content-end align-items-end" id="closeNav" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
              <svg clip-rule="evenodd" fill="#fff" fill-rule="evenodd" width="24px" height="24px" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/></svg>
            </a>
          </li>
          <li routerLinkActive="active" class="nav-item pt-0">
            <a class="nav-link" [routerLink]="['/home']" (click)="closeNav()" href="">Home</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/musicas']" (click)="closeNav()" href="">Músicas</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/efeitos-sonoros']" (click)="closeNav()" href="">Efeitos Sonoros</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/produtores']" (click)="closeNav()" href="">Produtores</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" (click)="closeNav()" href="">Blog</a>
          </li>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-end align-items-end menuInt">
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" href="" (click)="closeNav()">Preços</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">
              Idioma
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="" (click)="closeNav()">Português</a>
              <a class="dropdown-item" href="" (click)="closeNav()">Inglês</a>
            </div>
          </li>
          <div class="control d-flex">
            <li routerLinkActive="active" class="nav-item">
              <a class="nav-link d-flex justify-content-center align-items-center" [routerLink]="['/carrinho']" (click)="closeNav()" href="">
                <span class="material-icons">shopping_cart</span>
              </a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a class="nav-link d-flex justify-content-center align-items-center" (click)="modalOpen()">
                <span class="material-icons">person</span>
              </a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
