nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1020;
  box-shadow: 0 0 10px 1px #000;
  padding-left: 0;
}
li.nav-item.p-0 {
  display: none;
}
li.nav-item {
  position: relative;
}
li.nav-item a.nav-link:hover:before {
  background-color: #007bff;
}
a.navbar-brand img.logo {
  height: 100px;
}
li.nav-item a.nav-link:hover:before,
li.nav-item.active a:before {
  width: 100%;
}
li.nav-item a:before {
  width: 0;
  left: 0;
  position: absolute;
  top: auto;
  bottom: 0;
  height: 5px;
  background-color: #4B3A8F;
  transition: all 300ms linear;
  content: "";
}
a.nav-link,
a.nav-link span.material-icons {
  cursor: pointer !important;
}
a.nav-link {
  padding: 0.5rem 1rem !important;
  transition: all .45s ease-in-out;
}
.navbar-light .navbar-nav .nav-link,
.dropdown-item {
  color: #FFF;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  //text-shadow: 0 0 10px;
}
.dropdown-item:hover {
  color: black;
}

nav.navbar {
  height: 7.7vh;
}
.bg-dark {
  background-image: linear-gradient(90deg, #000, #343a40);
}
.dropdown-menu {
  background-color: #343a40;
}
ul.navbar-nav.w-100 .col-sm-6.col-md-6.col-lg-6.col-xl-6 {
  max-width: 43%;
}
ul.navbar-nav.w-100 .col-sm-6.col-md-6.col-lg-6.col-xl-6 li.nav-item a.nav-link d-flex justify-content-center align-items-center span.material-icons {
  font-size: 32px;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7.d-flex.justify-content-end.align-items-end {
    max-width: 60% !important;
    flex: 0 0 60% !important;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7.d-flex.justify-content-end.align-items-end {
    max-width: 70% !important;
    flex: 0 0 70% !important;
    position: relative;
    left: 4.5%;
  }
  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7.d-flex.justify-content-end.align-items-end,
  ul.navbar-nav.w-100[_ngcontent-uea-c104] .col-sm-6.col-md-6.col-lg-6.col-xl-6 {
    padding: 0;
  }
  #navbarNavDropdown {
    position: relative;
    right: 7%;
  }
  a.nav-link {
    padding: 0.5rem .8rem !important;
  }
  .col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.justify-content-between.align-items-center.pl-1 .col-sm-2.col-md-2.col-lg-2.col-xl-2.pl-0 {
    max-width: 6%;
    flex: 0 0 6%;
    padding: 0 !important;
  }
}
//@media only screen and (min-width: 768px) and (max-width: 999px) {
//  a.navbar-brand img.logo {
//    height: 80px;
//    position: relative;
//    bottom: 2.5vh;
//  }
//  .navbar-light .navbar-nav .nav-link {
//    border-bottom: 1px solid #DDD;
//  }
//  .navbar-light .navbar-nav .nav-item.active .nav-link {
//    border-bottom: 0;
//  }
//  #navbarNavDropdown {
//    position: absolute;
//    top: 7vh;
//    right: -8px;
//    box-shadow: 0 0 10px 0;
//    border-radius: 10px;
//    border: 1px solid;
//    transition: all .45s ease-in;
//  }
//  #navbarNavDropdown.navbar-collapse.collapse.show {
//    background-color: #594C63;
//    color: #FFF;
//  }
//  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7 {
//    flex-direction: column;
//  }
//  button.navbar-toggler {
//    position: absolute;
//    top: 5%;
//    right: 0;
//    border: 0;
//    z-index: 1055;
//  }
//  ul.navbar-nav.w-100 .col-sm-6.col-md-6.col-lg-6.col-xl-6,
//  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7 {
//    max-width: 100%;
//  }
//  ul.navbar-nav.w-100,
//  ul.navbar-nav.w-100 .col-sm-6.col-md-6.col-lg-6.col-xl-6 {
//    flex-direction: column;
//  }
//
//}
@media only screen and (min-width: 320px) and (max-width: 999px) {
  li.nav-item a:before {
    background-color: #007bff;
  }
  .navbar-light .navbar-nav .nav-link {
    border-bottom: 1px solid #DDD;
  }
  .navbar-light .navbar-nav .nav-item.active .nav-link {
    border-bottom: 0;
  }
  .col-sm-2.col-md-2.col-lg-2.col-xl-2 {
    width: 65%;
  }
  nav.navbar {
    height: 70px;
  }
  li.nav-item.p-0 {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
  }
  .col-sm-6.col-md-6.col-lg-6.col-xl-6 {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding: 0;
  }
  a.navbar-brand img.logo {
    height: 90px;
    position: relative;
    bottom: 21px;
  }
  li.nav-item {
    width: 100%;
    padding: 2% 0;
  }
  #navbarNavDropdown {
    position: absolute;
    top: -1vh;
    border-radius: 10px;
    transition: all 0.03s linear;
    border: 0;
    left: 25%;
    height: 100vh;
    right: -15px;
    z-index: 1100;
  }
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex li.nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex li.nav-item a.cart,
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex li.nav-item a.person {
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex li.nav-item a.cart span.txt.mobile.d-none,
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex li.nav-item a.person span.txt.mobile.d-none {
    display: block !important;
  }
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex li.nav-item,
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex,
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex li.nav-item a.cart,
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex li.nav-item a.person {
    width: 100%;
  }
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex li.nav-item a span.material-icons {
    margin-right: 2%;
    position: relative;
    bottom: 3px;
  }
  #navbarNavDropdown ul.navbar-nav .col-sm-6.col-md-6.col-lg-6.col-xl-6 .control.d-flex {
    flex-direction: column;
  }
  #navbarNavDropdown.navbar-collapse.collapse.show {
    background-color: #594C63;
    color: #FFF;
  }
  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7 {
    padding: 0;
    flex-direction: column;
  }
  button.navbar-toggler {
    position: absolute;
    top: 10%;
    filter: invert(1);
    right: 0;
    border: 0;
    z-index: 1055;
  }
  #navbarNavDropdown .col-sm-6.col-md-6.col-lg-6.col-xl-6,
  ul.navbar-nav.w-100 .col-sm-6.col-md-6.col-lg-6.col-xl-6,
  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7 {
    max-width: 100%;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  ul.navbar-nav.w-100,
  ul.navbar-nav.w-100 .col-sm-6.col-md-6.col-lg-6.col-xl-6 {
    flex-direction: column;
  }
}
@media only screen and (max-width: 370px) {

}
