nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1020;
  box-shadow: 0 0 10px 1px #000;
  padding-left: 0;
}
li.nav-item {
  position: relative;
}
li.nav-item a.nav-link:hover:before {
  background-color: #007bff;
}
a.navbar-brand img.logo {
  height: 7.7vh;
}
li.nav-item a.nav-link:hover:before,
li.nav-item.active a:before {
  width: 100%;
}
li.nav-item a:before {
  width: 0;
  left: 0;
  position: absolute;
  top: auto;
  bottom: 0;
  height: 5px;
  background-color: #4B3A8F;
  transition: all 300ms linear;
  content: "";
}
a.nav-link,
a.nav-link span.material-icons {
  cursor: pointer !important;
}
a.nav-link {
  padding: 0.5rem 1rem !important;
  transition: all .45s ease-in-out;
}
.navbar-light .navbar-nav .nav-link,
.dropdown-item {
  color: #FFF;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 0 0 10px;
}
.dropdown-item:hover {
  color: black;
}

nav.navbar {
  height: 7.7vh;
}
.bg-dark {
  background-image: linear-gradient(90deg, #000, #343a40);
}
.dropdown-menu {
  background-color: #343a40;
}
ul.navbar-nav.w-100 .col-sm-6.col-md-6.col-lg-6.col-xl-6 {
  max-width: 43%;
}
ul.navbar-nav.w-100 .col-sm-6.col-md-6.col-lg-6.col-xl-6 li.nav-item a.nav-link d-flex justify-content-center align-items-center span.material-icons {
  font-size: 32px;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7.d-flex.justify-content-end.align-items-end {
    max-width: 60% !important;
    flex: 0 0 60% !important;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7.d-flex.justify-content-end.align-items-end {
    max-width: 70% !important;
    flex: 0 0 70% !important;
  }
  ul.navbar-nav.w-100 .col-sm-7.col-md-7.col-lg-7.col-xl-7.d-flex.justify-content-end.align-items-end,
  ul.navbar-nav.w-100[_ngcontent-uea-c104] .col-sm-6.col-md-6.col-lg-6.col-xl-6 {
    padding: 0;
  }
  #navbarNavDropdown {
    position: relative;
    right: 7%;
  }
  a.nav-link {
    padding: 0.5rem .8rem !important;
  }
  .col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.justify-content-between.align-items-center.pl-1 .col-sm-2.col-md-2.col-lg-2.col-xl-2.pl-0 {
    max-width: 6%;
    flex: 0 0 6%;
    padding: 0 !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .col-sm-2.col-md-2.col-lg-2.col-xl-2 {
    width: 65%;
  }
  .col-sm-6.col-md-6.col-lg-6.col-xl-6 {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding: 0;
  }
}
