#div1, #div2 {
  display: flex;
}
a.favorite, a.minhasPlayLists {
  cursor: pointer;
}
section.filter {
  background-color: #101010;
}
section.filter {
  margin-top: 8vh;
}
section.filter .container-fluid {
  height: 8vh;
  background: #252525;
  justify-content: flex-start;
  position: relative;
}
section.filter .container-fluid div.col-sm-4.col-md-4.col-lg-4.col-xl-4.p-0 .h5.font-weight-bold {
  font-size: 18px !important;
}
section.filter .container-fluid div.col-sm-4.col-md-4.col-lg-4.col-xl-4.p-0 {
  color: #FFF !important;
}
section.filter .container-fluid div.col-sm-4.col-md-4.col-lg-4.col-xl-4 div.col-sm-6.col-md-6.col-lg-6.col-xl-6 .btn.h-100:hover {
  color: rgba(255, 255, 255, 0.5);
}
section.filter .container-fluid div.col-sm-4.col-md-4.col-lg-4.col-xl-4 div.col-sm-6.col-md-6.col-lg-6.col-xl-6 .btn.h-100:hover:before{
  right: 5%;
  left: 5%;
  position: absolute;
  top: auto;
  bottom: 0;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
}
section.filter .container-fluid .col-sm-4.col-md-4.col-lg-4.col-xl-4.h-100.d-flex.justify-content-end.align-items-center button.btn:hover:before {
  right: 5%;
  left: 5%;
  position: absolute;
  top: auto;
  bottom: 0;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
}
section.filter .container-fluid div.col-sm-4.col-md-4.col-lg-4.col-xl-4 div.col-sm-6.col-md-6.col-lg-6.col-xl-6 .btn.h-100:hover svg {
  fill: rgba(255, 255, 255, 0.5);
}
section.filter .container-fluid .col-sm-4.col-md-4.col-lg-4.col-xl-4.h-100.d-flex.justify-content-end.align-items-center .controlTwo,
section.filter .container-fluid .col-sm-4.col-md-4.col-lg-4.col-xl-4.h-100.d-flex.justify-content-end.align-items-center button.btn,
section.filter .container-fluid .col-sm-4.col-md-4.col-lg-4.col-xl-4.h-100.d-flex.justify-content-end.align-items-center button.btn svg,
section.filter .container-fluid div.col-sm-4.col-md-4.col-lg-4.col-xl-4 div.col-sm-6.col-md-6.col-lg-6.col-xl-6 .control,
section.filter .container-fluid div.col-sm-4.col-md-4.col-lg-4.col-xl-4 div.col-sm-6.col-md-6.col-lg-6.col-xl-6 .btn.h-100,
section.filter .container-fluid div.col-sm-4.col-md-4.col-lg-4.col-xl-4 div.col-sm-6.col-md-6.col-lg-6.col-xl-6 .btn.h-100 svg {
  transition: all .5s ease-in-out;
}
section.filter .container-fluid div.col-sm-4.col-md-4.col-lg-4.col-xl-4 div.col-sm-6.col-md-6.col-lg-6.col-xl-6 .btn.h-100 {
  border: 0;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.filter .container-fluid form {
  padding: 0;
  max-width: 28.4%;
}
section.filter .container-fluid form .inputFilter {
  position: relative;
  width: 81% !important;
}
#btnOutS {
  font-size: 22px;
}
section.filter .container-fluid form .inputFilter input {
  border: 0;
  border-radius: 0px 999px 999px 0px;
}
section.filter .container-fluid form:focus-within button.btn.w-25.btn-outline-success.mr-2 input {
  background-color: #828282;
}
section.filter .container-fluid form:focus-within .inputFilter span,
section.filter .container-fluid form .inputFilter input:focus {
  outline: none !important;
  color: #828282;
  background-color: #FFF;
  transition: all .35s ease-in !important;
}
section.filter .container-fluid form .inputFilter input::placeholder {
  color: #b4b4b5 !important;
}
section.filter .container-fluid form .inputFilter button.btn {
  height: 40px;
  background: transparent;
  color: #b4b4b5;
  position: absolute;
  right: 1.25%;
  width: auto !important;
}
section.filter .container-fluid form .inputFilter input,
section.filter .container-fluid form .inputFilter span {
  height: 40px;
  background: #333;
  color: #b4b4b5 !important;
}
section.filter .container-fluid form .inputFilter span {
  border-radius: 999px 0px 0px 999px;
  width: 9%;
  position: relative;
  right: -1%;
  padding-left: 2%;
}
section.filter .container-fluid button {
  color: rgba(255, 255, 255, 0.5);
  border: 0;
  background-color: #1b1b1b;
  height: 100%;
  width: 13vw !important;
}
section.filter .container-fluid .col-sm-4.col-md-4.col-lg-4.col-xl-4.p-0.d-flex.justify-content-center.align-items-center.h-100.position-relative {
  padding-right: 9% !important;
}
section.filter .container-fluid .col-sm-4.col-md-4.col-lg-4.col-xl-4.h-100.d-flex.justify-content-end.align-items-center button:hover svg {
  fill: rgba(255, 255, 255, 0.5);
}
.card,
#humorAccordion,
#generoAccordion {
  background-color: #1b1b1b;
}
#humorAccordion .container-fluid .row button.btn.btn-warning,
#generoAccordion .container-fluid .row button.btn.btn-warning {
  border-radius: 999px;
}
#humorAccordion .container-fluid .row button.btn.btn-warning,
#generoAccordion .container-fluid .row button.btn.btn-warning {
  width: 15%;
}
#humorAccordion .container-fluid .row button.btn.btn-warning,
#generoAccordion .container-fluid .row button.btn.btn-warning {
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 7px 12px;
  margin-right: 10px;
}
#humorAccordion .container-fluid .row button.btn.btn-warning,
#generoAccordion .container-fluid .row button.btn.btn-warning,
button.btn.btn-warning a {
  color: #FFFFFF;
}
.card{
  border: 0;
}
.card .card-body a.h5:hover {
  color: rgba(255, 255, 255, 0.5);
}
.card .card-body a.h5 {
  transition: all .5s ease-in-out;
}
.div2 {
  padding: 1rem 0rem;
  border-bottom: solid 1px rgba(255,255,255,.15) ;
}
.card .card-body a.h5,
.card .card-body {
  color: rgba(255,255,255,.8);
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  #cfilter {
    display: none !important;
  }

}
