p {
  margin-bottom: 0;
}
section.one,
section.submit {
  color: #FFF;
}
section.one {
  margin-top: 8vh;
  background-image: url("../../assets/images/mokbeats_mb.webp");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  height: 50vh;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 h1 {
  font-size: 60px;
  font-weight: bold;
  width: 100%;
}
section.submit {
  padding: 4% 0;
  background: #FFF;
  color: #000;
}
section.submit .container .row .beforeSubmit .txt .h6 {
  font-size: 18px;
}
section.submit .container .row form {
  padding: 5% 10%;
  border: 1px solid #828282;
  border-radius: 8px;
}

section.submit .container .row form input {
  margin-bottom: 4%;
  font-size: 18px;
  padding: 1% 0 1% 1%;
  border: 0;
  border-bottom: 1px solid #DDD;
  outline: none;
}

section.submit .container .row form .submitForm button {
  background-color: #4B3A8F;
  border: 0;
  padding: 1.5% 0;
  border-radius: 30px;
  margin: 4% 0;
  transition: all .35s linear;
  color: #FFF;
  width: 25%;
  font-weight: bold;
}
section.submit .container .row form .submitForm button:hover {
  padding: 18.5px 0 !important;
}
section.submit .container .row form .submitForm button:hover {
  box-shadow: 0 0 10px 0 #4B3A8F !important;
  border: 1px solid #4B3A8F !important;
  background-color: #FFF !important;
  color: #4B3A8F !important;
}
section.submit .container .row form p.h5 {
  color: #000;
}
section.submit .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .video video {
  width: 90%;
}
#upload {
  width: 100%;
  border: 1px dashed #b4b4b5;
  padding: 20px;
  border-radius: 10px;
  color: #b4b4b5;
  fill: #b4b4b5;
  cursor: pointer;
}
#file {
  display: none;
}
section.submit .container .row form .control .uploaded {
  padding: 20px 10px;
  background: #DDD;
  border-radius: 8px;
  display: none;
}
section.submit .container .row form .control .uploaded .size.d-flex {
  color: #4B3A8F;
}
section.submit .container .row form .control .uploaded .size.d-flex .material-icons {
  font-size: 21px;
}
section.submit .container .row form .d-flex.w-100 .radioOption1,
section.submit .container .row form .d-flex.w-100 .radioOption {
  width: 17%;
}
section.submit .container .row form .d-flex.w-100 .radioOption1 input,
section.submit .container .row form .d-flex.w-100 .radioOption input {
  margin-right: 3%;
}
