#collapseWidthExample .card.card-body {
  width: 30vw !important;
}
.row.w-100 .collapseControl {
  min-height: 120px !important;
}
p {
  margin-bottom: 0;
}
section.one,
section.submit {
  color: #FFF;
}
section.one {
  margin-top: 8vh;
  background-image: url("../../assets/images/mokbeats_mb.webp");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  height: 50vh;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 h1 {
  font-size: 60px;
  font-weight: bold;
  width: 100%;
}
section.submit {
  padding: 4% 0;
  background: #FFF;
  color: #000;
}
section.submit .container .row .beforeSubmit .txt .h6 {
  font-size: 18px;
}
section.submit .container .row form {
  padding: 5% 10%;
  border: 1px solid #828282;
  border-radius: 8px;
}

section.submit .container .row form input {
  margin-bottom: 4%;
  font-size: 18px;
  padding: 1% 0 1% 1%;
  border: 0;
  border-bottom: 1px solid #DDD;
  outline: none;
  text-decoration: none;
}

section.submit .container .row form .submitForm button {
  background-color: #4B3A8F;
  border: 0;
  padding: 1.5% 0;
  border-radius: 30px;
  margin: 4% 0;
  transition: all .35s linear;
  color: #FFF;
  width: 25%;
  font-weight: bold;
}

section.submit .container .row form .submitForm button.hover:hover {
  padding: 18.5px 0 !important;
  box-shadow: 0 0 10px 0 #4B3A8F !important;
  border: 1px solid #4B3A8F !important;
  background-color: #FFF !important;
  color: #4B3A8F !important;
}
section.submit .container .row form p.h5 {
  color: #000;
}
section.submit .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .video video {
  width: 90%;
}
#upload {
  width: 100%;
  border: 1px dashed #b4b4b5;
  padding: 20px;
  border-radius: 10px;
  color: #b4b4b5;
  fill: #b4b4b5;
  cursor: pointer;
}
#file {
  display: none;
}
.w-33 {
  width: 33% !important;
}
.CWE {
  min-height: 140px;
  display: none;
}
.CWE .card.card-body {
  width: 47vw;
  max-width: 65vw;
}
#card {
  max-height: 150px !important;
}
.CWE,
#card {
  transition: all 0.5s ease-in;
}
#card .tracks10,
#card .tracks40 {
  width: auto;
}
#card .tracks10 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#card .tracks40 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
mat-radio-button.matRadioBtn {
  font-size: 16px !important;
  color: #787878 !important;
  margin-right: 8%;
}
span.span.rules,
span.span.rules1 {
  font-size: 15px;
  font-weight: 500;
  color: #787878;
}.control.col-sm-4.col-md-4.col-lg-4.col-xl-4.m-0.d-flex.justify-content-center.align-items-center {
   max-width: 36%;
   flex: 0 0 36%;
 }
.controlInt.col-sm-4.col-md-4.col-lg-4.col-xl-4.m-0.d-flex {
  max-width: 30%;
}
.textarea {
  padding: 5px 10px !important;
  height: 180px !important;
  border-radius: 10px !important;
  border: .5px solid #DDD;
}
button.btn.btn-success {
  background: rgba(0,0,0,.04);
  color: #28a745;
  border: 1px solid #28a745;
  transition: all 500s ease-in !important;
}
button.btn.btn-success:focus,
button.btn.btn-success:hover {
  background-color: #28a745 !important;
  color: #FFF !important;
  font-weight: bold !important;
  zoom: 105% !important;

}
mat-label.ml-2 {
  font-size: 16px;
  color: #787878 !important;
}
div#collapseWidthExample .card.card-body,
div#collapseWidthExample {
  min-height: 120px !important;
  height: 130px !important;
  justify-content: center;
  align-items: center;
}
div#collapseWidthExample .card.card-body {
  width: 100%;
  text-align: center;
}
form .row.w-100.justify-content-between.align-items-center {
  flex-direction: row;
  height: 130px;
  margin-bottom: 4%;
}
mat-form-field {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

.comboFlex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

  a.top,
  #btn.top {
    top: 10px;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 h1 {
    font-size: 45px;
    text-align: center;
    line-height: 1.25;
  }
  section.submit .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.justify-content-center.align-items-center.p-0.m-0 {
    flex-direction: column;
    padding-top: 8% !important;
  }
  section.submit .container .row .beforeSubmit,
  section.submit .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.justify-content-center.align-items-center.p-0.m-0 .title {
    text-align: center;
  }
  section.submit .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12.d-flex.justify-content-center.align-items-center.p-0.m-0 .title .h4 {
    font-size: 18px;
  }
  section.submit .container .row .beforeSubmit {
    padding: 8% !important;
  }
  section.submit .container .row .beforeSubmit .txt .h6 {
    font-size: 17px;
  }
  section.submit .container .row.form {
    margin: 0 !important;
  }
  section.submit .container .row.form form .controlPai {
    flex-direction: column;
    margin-top: 15%;
  }
  section.submit .container .row.form form .controlPai .controlInt {
    max-width: 100%;
    padding: 0 15px !important;
  }
  section.submit .container .row.form form .controlPai .control .d-flex mat-radio-group {
    align-items: flex-start !important;
    flex-direction: column !important;
    padding-left: 8%;
  }
  #collapseWidthExample .card.card-body .h6.m-0 {
    font-size: 14px;
  }
  #collapseWidthExample .card.card-body {
    width: 100% !important;
    height: 100% !important;
  }
  form .row.w-100.justify-content-between.align-items-center {
    height: auto !important;
  }
  form .row.w-100.justify-content-between.align-items-center .collapseControl,
  form .row.w-100.justify-content-between.align-items-center .collapseControl #collapseWidthExample {
    height: 100% !important;
    min-height: 100% !important;
  }
  a.m-0.p-0,
  button.btn.btn-success {
    width: 100% !important;
  }

}
