
a.btn-whats span.material-icons {
  position: absolute;
  border: 1px solid;
  bottom: 97%;
  color: #38b553;
  border-radius: 50%;
  left: 50%;
  font-size: 18px;
  box-shadow: 0.5px 0.5px 10px 0.5px #38b553;
}
a.btn-whats {
  background-color: #38b553;
  color: #FFF;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  position: fixed;
  z-index: 10;
  bottom: 1.5%;
  right: 0.5%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0.5px 0.5px 10px 0.5px #38b553;
  border-radius: 35px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  animation: pulse 3s infinite;
  -webkit-animation: pulse 3s infinite;
}
.btn-whats:hover {
  background-color: #FFF;
  color: #38b553;
  text-decoration: none;
}
.btn-whats:hover svg {
  fill: #38b553;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
