article.one {
  background-color: #101010;
}
#navLeft ul li span.text-uppercase {
  color: #dcad54;
  font-weight: bold;
  font-size: 13.5px !important;
}
#navLeft ul li span.ml-3.material-icons.position-absolute {
  position: absolute;
  right: 0;
}
#navLeft ul li span {
  font-size: 18px !important;
}
#navLeft ul li {
  border-bottom: 1px solid rgba(255,255,255,.1);
  height: 70px;
  transition: all .1ms linear !important;
}
#navLeft ul li {
  color: #FFF !important;
}
#navLeft {
  position: absolute;
  background: #1b1b1b;
  height: 100vh;
  transition: all .5s ease-in-out;
  overflow-y: scroll;
}
#navLeft::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}
#navLeft::-webkit-scrollbar-track {
  background: #ddd;        /* color of the tracking area */
}
#navLeft::-webkit-scrollbar-thumb {
  background-color: #000;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: .5px solid #ddd;  /* creates padding around scroll thumb */
}
#navLeft ul {
  list-style: none;
  padding: 20px;
  margin-bottom: 0;
  width: inherit;
}
.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid #FFF;
  border-radius: 50%;
  cursor: pointer;
}
button, a {
  transition: all .4s ease-in;
}
article.one .container-fluid {
  width: calc(100vw - 16vw);
  transition: all .5s ease-in-out;
}
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 {
  padding-left: 1.5%;
}
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary,
a.btn.btn-warning,
article.one .container-fluid .row.button button,
#generoAccordion .container-fluid .row button.btn.btn-warning {
  border-radius: 999px;
}
article.one .container-fluid .row.button button {
  background: #dcad54;
  font-weight: bold;
  color: #FFF;
  border: 0;
}
article.one .position-absolute ul .control li {
  cursor: pointer;
}
article.one .position-absolute ul .control .card .controlInt.d-flex.flex-column {
  height: 24px;
}
article.one .position-absolute ul .control .card input {
  margin-right: 2%;
}
article.one .position-absolute ul .control .card {
  background: transparent;
  color: #FFF;
  padding-top: 10px;
}
.div2 {
  z-index: 9999999 !important;
}
article.one .position-absolute ul .control .card a {
  color: #FFF;
}
svg.hearth1 {
  display: none;
}
#hearth {
  display: block;
}
#generoAccordion .container-fluid .row button.btn.btn-warning {
  width: 15%;
}
#generoAccordion .container-fluid .row button.btn.btn-warning,
button.btn.btn-warning {
  background: #dcad54;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 7px 12px;
  margin-right: 10px;
}
#generoAccordion .container-fluid .row button.btn.btn-warning,
button.btn.btn-warning a {
  color: inherit;
}
article.one .container-fluid .row h4,
article.one .container-fluid .row h6,
article.one .material-icons,
article.one .text p.h4 a,
article.one .text p.h6 a,
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-2.col-md-2.col-lg-2.col-xl-2 p,
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary,
#generoAccordion .container-fluid .row button.btn.btn-warning,
button.btn.btn-warning {
  color: #fff !important;
}
article.one .container-fluid .row h4 {
  font-size: 2rem;
  width: 100%;
  font-weight: bold
}
article.one .container-fluid .row h6 {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
}
article.one .text {
  margin-left: 3%;
}
article.one .text p.h6 a {
  font-size: 14px;
}
article.one .material-icons {
  font-size: 45px !important;
  cursor: pointer;
}
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 {
  flex: 0 0 23.5%;
  max-width: 23.5%;
}
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 p.h4 {
  margin-bottom: 0;
}
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12.border-bottom {
  padding: 1.5% 0%;
}
#li {
  justify-content: space-between;
}
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops {
  flex: 0 0 10.333333%;
  max-width: 10.333333%;
}
article.one {
  position: relative;
}
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops p.h6 {
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn.btn-icons {
  background: transparent;
  border: 0;
}
article.one .container-fluid .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: transparent;
  font-weight: bold;
}
