@font-face {
  font-family: Walsheim;
  src: url("assets/fonts/GTWalsheimPro-Light.woff");
}
@font-face {
  font-family: WalsheimBold;
  src: url("assets/fonts/GTWalsheimPro-Bold.woff");
}
body {
  font-family: Walsheim;
  background-color: #101010 !important;
}
a {
  text-decoration: none !important;
}

.modal-backdrop {
  z-index: 1050 !important;
}
.mat-simple-snack-bar-content {
  width: 100% !important;
  text-align: center !important;
}
.mat-snack-bar-container {
  background-color: #FFF !important;
  font-weight: bold !important;
  border: 1px solid red !important;
  color: red !important;
  border-radius: 8px !important;
  position: absolute !important;
  top: 42% !important;
  right: 34% !important;
}
a.btn.btn-warning:hover,
button.btn.btn-warning:hover {
  background-color: #c29441 !important;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

textarea.mat-input-element {
  background: rgba(0,0,0,.04) !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex,
.mat-form-field-appearance-fill .mat-form-field-infix {
  background: #FFF !important;
}
.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #CED4DA !important;
}