<article class="container-fluid">
  <div class="container">
    <div class="row flex-column align-items-center justify-content-center">
      <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 title">
        <h1 class="font-weight-bold">Aqui na MokBeats você encontra música e SFX que causam impacto</h1>
        <h3>Acesse músicas e efeitos sonoros de alta qualidade e com curadoria especializada que você não encontrará em
          nenhum outro lugar.</h3>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mt-5 w-100">
      <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 d-flex justify-content-center align-items-center">
        <form class="form w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-group w-100 d-flex justify-content-between align-items-center">
            <div class="form-group">
              <select id="genero" class="form-control" formControlName="genero" [(ngModel)]="mokbeats.genero">
                <option *ngFor="let genero of generoM" [value]="genero.value">
                  {{genero.viewValue}}
                </option>
              </select>
            </div>
            <input class="form-control mr-sm-2" [(ngModel)]="mokbeats.search" type="search" formControlName="search"
              placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Pesquisar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</article>
<section class="one pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-center">Ouça nossos especialistas em música</h2>
        <h3 class="text-center">Todas as nossas faixas isentas de royalties são escolhidas a dedo por especialistas da
          indústria musical. ouça algumas de suas faixas favoritas</h3>
      </div>
    </div>
    <div class="row mt-5" *ngIf="primeirasCincoMusicas.length > 0">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex border-bottom"
        *ngFor="let musica of primeirasCincoMusicas; let i = index;">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex align-items-start justify-content-start">
          <span class="material-icons">{{icon}}</span>
          <div class="text d-flex flex-column align-items-start justify-content-start">
            <p class="h4"><a href="#">{{musica.nome_musica}}</a></p>
            <p class="h6"><a href="#">{{musica.nome_produtor}}</a></p>
          </div>
        </div>
        <div
          class="col-sm-2 col-md-2 col-lg-2 col-xl-2 one d-flex align-items-center justify-content-center pl-2 pr-2 pt-0 pb-0">
          <p class="h6 mr-3 mb-0">2 min 25 seg</p>
          <p class="h6 mb-0">95 bpm</p>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0 loops d-flex align-items-center justify-content-around">
          <p class="h6">15</p>
          <p class="h6">30</p>
          <p class="h6">60</p>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex align-items-center justify-content-around">
          <button type="button" data-toggle="tooltip" data-placement="bot" title="Adicionar aos favoritos"
            class="btn btn-icons" (click)="curtir(i)">
            <span class="material-icons addFavorite">favorite</span>
          </button>
          <button class="btn btn-icons" type="button" data-toggle="tooltip" data-placement="top"
            title="Adicionar a playlist" (click)="addPlayList(musica)">
            <span class="material-icons addPlaylist">playlist_add</span>
          </button>
          <button class="btn btn-icons" type="button" data-toggle="tooltip" data-placement="top" title="Copiar link"
            (click)="copiarLink(i)">
            <span class="material-icons">link</span>
          </button>
          <button class="btn btn-icons" type="button" data-toggle="tooltip" data-placement="top" title="Baixar amostra"
            (click)="baixarAmostra(i)">
            <span class="material-icons">download</span>
          </button>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex align-items-center justify-content-center">
          <button class="btn btn-primary" (click)="comprarLicensa(i)">COMPRAR LICENÇA
            <svg width="24" height="24" fill="#000" class="xdBUc" viewBox="0 0 24 24">
              <path
                d="M12 15.6a1 1 0 01-.6-.3l-5.5-5.1a1 1 0 011.3-1.5l4.9 4.5 4.8-4.5a1 1 0 111.4 1.5l-5.5 5a1 1 0 01-.7.4z">
              </path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="primeirasCincoMusicas.length === 0">
      <p>Nenhuma música encontrada ou carregando...</p>
    </div>
    <div class="row mt-3 justify-content-center align-items-center button">
      <a (click)="routeNav('musicas')" class="btn btn-warning w-25 mb-3 mt-5">Mostrar todas as tracks</a>
    </div>
  </div>
</section>
<section class="two pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 video d-flex justify-content-center align-items-center">
        <video controls="controls" poster="assets/images/mokbeats_fundo.webp" class="w-100">
          <source type="video/mp4" src="../../assets/videos/video1.mp4">
        </video>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 txt d-flex justify-content-center align-items-start flex-column">
        <p class="h2">Venha Trabalhar Conosco!!!</p>
        <p class="h5">MokBeats captura o coração e a alma do som cubano em uma sessão de bastidores com Jess o brabo, um
          de nossos produtores musicais indicados ao Grammy.</p>
        <a type="button" href="#" class="btn btn-warning mt-5">SABER MAIS</a>
      </div>
    </div>
  </div>
</section>
<section class="three pt-5 pb-5">
  <div class="container">
    <div class="row m-0">
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex">
        <div class="control w-50 d-flex justify-content-center align-items-center flex-column">
          <div class="controlInt mb-5 w-100 d-flex justify-content-center align-items-center flex-column">
            <span class="material-icons">music_note</span>
            <p class="h5 mt-3">Exclusive Music</p>
          </div>
          <div class="controlInt mb-5 w-100 d-flex justify-content-center align-items-center flex-column">
            <span class="material-icons">all_inclusive</span>
            <p class="h5 mt-3">Pay Once, Use Forever!</p>
          </div>
        </div>
        <div class="control w-50 d-flex justify-content-center align-items-center flex-column">
          <div class="controlInt mb-5 w-100 d-flex justify-content-center align-items-center flex-column">
            <span class="material-icons">workspace_premium</span>
            <p class="h5 mt-3">100% Copyright Clear</p>
          </div>
          <div class="controlInt mb-5 w-100 d-flex justify-content-center align-items-center flex-column">
            <span class="material-icons">slideshow</span>
            <p class="h5 mt-3">Safe for YouTube & Vimeo</p>
          </div>
        </div>
      </div>
      <div class="pl-5 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex flex-column align-items-start justify-content-start">
        <p class="h1">Incredible Music Simple Licenses</p>
        <p class="h5">Our curated library of royalty free music gives you the polished feel of the big production
          houses. Plus, all our tracks are 100% exclusive and copyright clear.</p>
        <a type="button" (click)="routeNav('precos')" class="btn btn-warning">DISCOVER OUR LICENSES</a>
      </div>
    </div>
    <div class="row m-0 pt-4 pb-4 trusted justify-content-center align-items-center">
      <p class="h5 mb-0 d-flex justify-content-center align-items-center"><span
          class="material-icons mr-2">task_alt</span> Trusted by the Word's Best companies and Creative Professionais.
      </p>
    </div>
  </div>
</section>
<section class="four">
  <div class="container">
    <div class="row flex-column align-items-center justify-content-center">
      <p class="h1 text-center">Nunca perca uma batida</p>
      <p class="h5 text-center">Receba notícias, insights e dicas do setor diretamente na sua caixa de entrada.</p>
      <form class="form w-50" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p class="h5 win"><span class="material-icons mr-2">task_alt</span>Congratulations, You have been Subscribed!
        </p>
        <div class="control w-100 d-flex justify-content-center align-items-center">
          <div class="inputInt d-flex justify-content-start align-items-center">
            <span class="emailIcon material-icons">mail</span>
            <input type="email" placeholder="Seu Email*" formControlName="email" [(ngModel)]="mokbeats.email" />
          </div>
          <div class="btnSubmit">
            <button class="btn w-100 btn-warning" type="submit">SE INSCREVA</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
