article.container-fluid {
  background: url('../../assets/images/news_img/home.jpg') center no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
article h1.font-weight-bold {
  font-size: 60px;
  line-height: 1;
}
article.container-fluid .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button, a {
  transition: all .4s ease-in;
}
h1, h3 {
  text-align: center;
}
h3 {
  font-size: 1.60rem !important;
  margin-top: 3%;
}
article input,
article input:focus {
  outline: none !important;
  border: 0;
  box-shadow: none;
}
article input {
  border: none;
}
form.form, #genero {
  height: 50px;
}
#genero option {
  color: black !important;
}
#genero {
  background: transparent;
  color: #FFF;
  font-size: 18px;
  border: 0;
  border-radius: 999px 0 0 999px;
  width: 150px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  padding-left: 2rem;
}
.form-group {
  margin: 0 !important;
}
.input-group.w-100,
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary,
a.btn.btn-warning,
button.btn.w-100.btn-warning,
form .input-group button.btn.btn-warning,
section.one .container .row.button button {
  border-radius: 999px;
}
a.btn.btn-warning,
section.one .container .row.button button,
button.btn.w-100.btn-warning {
  background: linear-gradient(45deg, #4B3A8F, #2f1ef1, #7b009c);
  font-weight: bold;
  color: #FFF;
  border: 0;
}
svg.hearth1 {
  display: none;
}
.amarelo {
  fill: #dcad54 !important;
}
#hearth {
  display: block;
}
form .input-group button.btn.btn-warning {
  background: transparent;
  font-weight: bold;
  color: #FFF;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
  padding: 0 4%;
  margin-right: 10px;
}
.input-group.w-100 {
  background: linear-gradient(45deg, #4B3A8F, #2f1ef1, #7b009c);
  //box-shadow: 0 1px 10px 4px #4B3A8F;
}
.form-control.mr-sm-2,
input.form-control.mr-sm-2::placeholder {
  color: #FFF;
  font-weight: bold;
}
.form-control.mr-sm-2 {
  margin: 0 !important;
  height: inherit;
  border-right: 0 !important;
  background: transparent;
}
.form-group {
  border-right: 1px solid #ddd;
  padding-right: 15px;
}
button.btn-outline-success {
  height: 90%;
  font-weight: bold;
  border-radius: 999px !important;
  margin: 6px 6px 0 !important;
}

article h1, article h3,
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p,
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 a.btn,
section.three .container .row.trusted p,
section.four .container .row {
  color: #DDD !important;
}
section.one .container .row h2,
section.one .container .row h3,
section.one .material-icons,
section.one .text p.h4 a,
section.one .text p.h6 a,
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-2.col-md-2.col-lg-2.col-xl-2 p,
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
  color: #000 !important;
}
section.one .container .row h2 {
  font-size: 4rem;
  font-weight: bold;
  width: 70%;
  line-height: 1;
}
section.one .container .row h3 {
  width: 75%;
  font-weight: 600;
}
section.one {
  background: #ffff;
  padding-bottom: 4rem !important;
}
section.one .container .row.button button {

}
section.one .text {
  margin-left: 3%;
}
section.one .text p.h6 a {
  font-size: 14px;
}
section.one .material-icons {
  font-size: 37px !important;
  cursor: pointer;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 {
  flex: 0 0 23.5%;
  max-width: 23.5%;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 p.h4 {
  margin-bottom: 0;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12.border-bottom {
  padding: 1.5% 0;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops {
  flex: 0 0 10.333333%;
  max-width: 10.333333%;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops p.h6 {
  color: #000;
  border-radius: 50%;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn.btn-icons {
  background: transparent;
  border: 0;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background: transparent;
  font-weight: bold;
}
section.two {
  padding-top: 4.5% !important;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h2 {
  font-weight: bold;
  font-size: 50px;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5 {
  font-size: 20px;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 a.btn {
  font-size: 15px;
  width: 40%;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6.txt {
  max-width: 40%;
  padding-left: 5%;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6.video {
  max-width: 60%;
  flex: 0 0 60%;
}
section.three .container {
  padding: 4% 0 0;
  background: #FFF;
}
section.three .container .row .control .controlInt span.material-icons {
  font-size: 85px;
}
section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h1 {
  font-size: 3.5rem;
}
section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h5 {
  font-size: 18px;
}
section.three .container .row.trusted {
  background: linear-gradient(45deg, #4B3A8F, #2f1ef1, #7b009c);
}
section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex a.btn {
  width: 63%;
  font-size: 17px;
  margin-top: 6%;
  padding: 10px 0;
}
section.three {
  padding-bottom: 4.5% !important;
}
section.four {
  background: url('../../assets/images/news_img/musico-de-vista-lateral-trabalhando-em-estudio.jpg') center no-repeat;
  background-size: cover;
  height: 70vh;
  padding: 7% 0;
  position: relative;
}
section.four .container {
  position: absolute;
  top: 22vh;
  right: 20vw;
}
section.four .container .row p.h5.win {
  display: none;
}
section.four .container .row p.h5.text-center {
  color: #fff;
  font-weight: bold;
}
section.four .container .row p.h1.text-center {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  font-family: WalsheimBold, serif !important;
}
section.four .container .row form .inputInt {
  border-bottom: 1px solid #fff;
  width: 70%;
  margin-right: 3%;
  padding-bottom: 1%;
}
section.four .container .row form {
  margin-top: 3%;
}
section.four .container .row form .btnSubmit {
  width: 27%;
}
section.four .container .row form input,
section.four .container .row form .inputInt,
section.four .container .row form:focus-within .control .inputInt,
section.four .container .row form input::placeholder {
  color: #fff;
  //text-shadow: 0 0 8px;
}
section.four .container .row form input {
  background: transparent;
  outline: none;
  border: 0;
  width: 68%;
  padding-left: 2%;
  font-size: 20px;
  font-weight: bold;
}
section.four .container .row form:focus-within .control .inputInt {
  border-bottom: 1px solid #000;
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  section.one .container .row h2,
  section.one .container .row h3 {
    width: 100%;
  }
  section.one .container .row h2 {
    font-size: 3rem;
  }
  .xdBUc {
    width: 17px !important;
    height: 17px !important;
    position: relative;
    left: 4%;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
    font-size: 14px;
    width: 100%;
  }
  section.one .material-icons {
    font-size: 30px !important;
  }
  p.h6.mb-0,
  p.h6.mr-3.mb-0 {
    font-size: 14px;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops p.h6 {
    width: 25px;
    height: 25px;
    font-size: 13px;
  }

  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h2 {
    font-size: 35px;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5 {
    position: relative;
    top: 5%;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h1 {
    font-size: 2.5rem;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5,
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h5,
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex a.btn,
  section.three .container .row .control .controlInt p.h5 {
    font-size: 16px;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex a.btn {
    width: 70%;
  }
  section.three .container .row .control .controlInt span.material-icons {
    font-size: 50px;
  }

  section.four {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.four .container {
    position: initial;
  }
  section.four .container .row form .btnSubmit {
    width: 40%;
  }
  section.four .container .row form .btnSubmit button.btn {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  section.one .container .row h3 {
    font-size: 1.3rem !important;
  }
  section.one .container .row h2 {
    font-size: 3.4rem;
    width: 100%;
  }
  section.one .material-icons {
    font-size: 25px !important;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 p.h4 {
    font-size: 18px;
  }
  p.h6.mb-0,
  p.h6.mr-3.mb-0 {
    font-size: 14px;
  }
  button.btn.btn-icons {
    padding: 4%;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
    font-size: 12px;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 {
    padding: 0;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12.border-bottom {
    justify-content: space-between !important;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops {
    flex: 0 0 14.333333%;
    max-width: 14.333333%;
  }
  section.one .container .row.mt-3.justify-content-center.align-items-center.button a.btn.btn-warning.w-25.mb-3.mt-5 {
    width: 40% !important;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h2 {
    font-size: 28px;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5 {
    font-size: 16px;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 a.btn {
    width: 80%;
    margin-top: 8% !important;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6.video {
    padding: 0;
  }

  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h1 {
    font-size: 2.3rem;
    margin-bottom: 6%;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h5 {
    font-size: 16px;
    padding-right: 0%;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex a.btn {
    width: 85%;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5,
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex a.btn,
  section.three .container .row .control .controlInt p.h5.mt-3,
  section.three.pt-5.pb-5 .container .row p.h5.mb-0.d-flex {
    font-size: 16px;
  }
  section.three .container .row .control .controlInt p.h5.mt-3 {
    text-align: center;
  }
  section.three .container .row .control .controlInt span.material-icons {
    font-size: 60px;
  }
  section.four,
  section.four .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.four .container {
    position: initial;
  }
  form.form {
    width: 80% !important;
  }
  section.four .container .row p.h1.text-center {
    font-size: 40px;
  }
  section.four .container .row p.h5.text-center {
    font-size: 18px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  article h1.font-weight-bold {
    font-size: 28px !important;
    width: 100% !important;
  }
  article h3 {
    font-size: 18px !important;
  }
  #genero {
    width: 100%;
  }
  #genero,
  form .input-group button.btn.btn-warning {
    font-size: 12px;
  }
  .row.justify-content-center.align-items-center.mt-5.w-100 .col-sm-9.col-md-9.col-lg-9.col-xl-9.d-flex.justify-content-center.align-items-center {
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  input.form-control.mr-sm-2::placeholder {
    font-size: 14px !important;
  }
  .row.justify-content-center.align-items-center.mt-5.w-100 {
    width: 100% !important;
    padding: 0 !important;
  }
  section.two.pt-5.pb-5 .container .row {
    flex-direction: column;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops,
  .col-sm-3.col-md-3.col-lg-3.col-xl-3.d-flex.align-items-center.justify-content-around,
  .col-sm-2.col-md-2.col-lg-2.col-xl-2.one.d-flex.align-items-center.justify-content-center.pl-2.pr-2.pt-0.pb-0 {
    display: none !important;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12.border-bottom {
    justify-content: space-between;
  }
  section.one .container .row h2.text-center {
    width: 100%;
    font-size: 2rem !important;
  }
  section.one .container .row h3.text-center {
    font-size: 16px !important;
    width: 100%;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 {
    padding: 1.5% 15px !important;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    align-items: center !important;
    padding: 0;
  }
  p.h4 a {
    font-size: 18px;
  }
  section.one .material-icons {
    font-size: 32px !important;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
    font-size: 13px !important;
    width: 100%;
  }
  section.one .container .row.mt-3 a.btn.btn-warning.w-25 {
    width: 75% !important;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6.video {
    max-width: 100%;
    flex: 0 0 100%;
  }
  section.two {
    padding-top: 10.5% !important;
    padding-bottom: 0 !important;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6.txt {
    max-width: 100%;
    align-items: center !important;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5 {
    font-size: 16px;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5,
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h2 {
    text-align: center;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h2 {
    font-size: 29px;
    margin-top: 9%;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 a.btn {
    width: 50%;
    margin-top: 6% !important;
  }
  section.three .container .row .control .controlInt span.material-icons {
    font-size: 45px;
  }
  section.three .container .row .control .controlInt p.h5.mt-3 {
    font-size: 16px;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex.flex-column.align-items-start.justify-content-start {
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 7% !important;
    padding: 0 5% !important;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h5 {
    font-size: 17px;
    padding-right: 0;
    text-align: center;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex a.btn {
    width: 85% !important;
    font-size: 16px;
  }
  section.three .container div.row.m-0 p.h5.mb-0.d-flex.justify-content-center.align-items-center {
    font-size: 16px !important;
    padding: 0 9% !important;
    text-align: center !important;
  }
  section.four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section.four .container {
    position: initial;
  }
  section.four .container .row p.h5.text-center {
    font-size: 17px;
  }
  section.four .container .row p.h1.text-center {
    font-size: 30px;
  }
  form.form.w-50 {
    width: 90% !important;
  }
  section.four .container .row form input {
    width: 100% !important;
  }
  section.four form.form .btnSubmit {
    width: 40% !important;
  }
  section.four .form .btnSubmit button.btn.w-100.btn-warning {
    font-size: 13px !important;
  }

}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  article.container-fluid .container {
    padding: 0;
  }
  section.one .container .row h2.text-center {
    font-size: 1.8rem !important;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 {
    padding: 1.5% 8px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
  article.container-fluid .container {
    padding: 0;
  }
  article.container-fluid {
    padding: 0 5px;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h1 {
    font-size: 2rem;
  }
  article h1.font-weight-bold {
    font-size: 25px !important;
  }
  article h3 {
    font-size: 14.5px !important;
    line-height: 1.3;
  }
  section.one .container .row h3.text-center {
    font-size: 14px !important;
  }
  section.one .container .row h2.text-center {
    font-size: 24px !important;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 {
    padding: 1.5% 7px !important;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
    font-size: 12px !important;
    zoom: 90%;
  }
}
