article.container-fluid {
  background: url('../../assets/images/mokbeats_mb.jpeg') center no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
article.container-fluid .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button, a {
  transition: all .4s ease-in;
}
h1, h3 {
  text-align: center;
}
h3 {
  font-size: 1.60rem !important;
  margin-top: 3%;
}
article input,
article input:focus {
  outline: none !important;
  border: 0;
  box-shadow: none;
}
article input {
  border: none;
}
form.form, #genero {
  height: 50px;
}
#genero option {
  color: black !important;
}
#genero {
  background: transparent;
  color: #FFF;
  font-size: 18px;
  border: 0;
  border-radius: 999px 0 0 999px;
  width: 150px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}
.form-group {
  margin: 0 !important;
}
.input-group.w-100,
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary,
a.btn.btn-warning,
button.btn.w-100.btn-warning,
form .input-group button.btn.btn-warning,
section.one .container .row.button button {
  border-radius: 999px;
}
a.btn.btn-warning,
section.one .container .row.button button,
button.btn.w-100.btn-warning {
  background: linear-gradient(45deg, #4B3A8F, #2f1ef1, #7b009c);
  font-weight: bold;
  color: #FFF;
  border: 0;
}
svg.hearth1 {
  display: none;
}
.amarelo {
  fill: #dcad54 !important;
}
#hearth {
  display: block;
}
form .input-group button.btn.btn-warning {
  background: transparent;
  font-weight: bold;
  color: #FFF;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
  padding: 0 4%;
  margin-right: 10px;
}
.input-group.w-100 {
  background: linear-gradient(45deg, #4B3A8F, #2f1ef1, #7b009c);
  box-shadow: 0 1px 10px 4px #4B3A8F;
}
.form-control.mr-sm-2,
input.form-control.mr-sm-2::placeholder {
  color: #FFF;
  font-weight: bold;
}
.form-control.mr-sm-2 {
  margin: 0 !important;
  height: inherit;
  border-right: 0 !important;
  background: transparent;
}
.form-group {
  border-right: 1px solid #ddd;
}
button.btn-outline-success {
  height: 90%;
  font-weight: bold;
  border-radius: 999px !important;
  margin: 6px 6px 0 !important;
}

section.one .container .row h2,
section.one .container .row h3,
section.one .material-icons,
section.one .text p.h4 a,
section.one .text p.h6 a,
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-2.col-md-2.col-lg-2.col-xl-2 p,
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary,
article h1, article h3,
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p,
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 a.btn,
section.three .container .row.trusted p,
section.four .container .row,
section.three {
  text-shadow: 0 0 8px #000;
}

article h1, article h3,
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p,
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 a.btn,
section.three .container .row.trusted p,
section.four .container .row {
  color: #DDD !important;
}
section.one .container .row h2,
section.one .container .row h3,
section.one .material-icons,
section.one .text p.h4 a,
section.one .text p.h6 a,
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-2.col-md-2.col-lg-2.col-xl-2 p,
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
  color: #000 !important;
}
section.one .container .row h2 {
  font-size: 4rem;
  font-weight: bold;
  width: 70%;
}
section.one .container .row h3 {
  width: 75%;
  font-weight: 600;
}
section.one {
  background: #ffff;
  padding-bottom: 4rem !important;
}
section.one .container .row.button button {

}
section.one .text {
  margin-left: 3%;
}
section.one .text p.h6 a {
  font-size: 14px;
}
section.one .material-icons {
  font-size: 37px !important;
  cursor: pointer;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 {
  flex: 0 0 23.5%;
  max-width: 23.5%;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 p.h4 {
  margin-bottom: 0;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12.border-bottom {
  padding: 1.5% 0;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops {
  flex: 0 0 10.333333%;
  max-width: 10.333333%;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops p.h6 {
  color: #000;
  border-radius: 50%;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn.btn-icons {
  background: transparent;
  border: 0;
}
section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background: transparent;
  font-weight: bold;
}
section.two {
  padding-top: 4.5% !important;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h2 {
  font-weight: bold;
  font-size: 50px;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5 {
  font-size: 20px;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 a.btn {
  font-size: 15px;
  width: 40%;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6.txt {
  max-width: 40%;
  padding-left: 5%;
}
section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6.video {
  max-width: 60%;
  flex: 0 0 60%;
}
section.three .container {
  padding: 4% 0 0;
  background: #FFF;
}
section.three .container .row .control .controlInt span.material-icons {
  font-size: 85px;
}
section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h1 {
  font-size: 3.5rem;
}
section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h5 {
  font-size: 18px;
  padding-right: 8%;
}
section.three .container .row.trusted {
  background: linear-gradient(45deg, #4B3A8F, #2f1ef1, #7b009c);
}
section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex a.btn {
  width: 52%;
  font-size: 17px;
  margin-top: 6%;
}
section.three {
  padding-bottom: 4.5% !important;
}
section.four {
  background: url('../../assets/images/mokbeats_roxo.jpeg') center no-repeat;
  background-size: cover;
  height: 70vh;
  padding: 7% 0;
  position: relative;
}
section.four .container {
  position: absolute;
  top: 22vh;
  right: 20vw;
}
section.four .container .row p.h5.win {
  display: none;
}
section.four .container .row p.h5.text-center {
  color: #000;
  font-weight: bold;
  text-shadow: 1px 1px 7px rgba(0,0,0,.5);
}
section.four .container .row p.h1.text-center {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  font-family: WalsheimBold, serif !important;
  text-shadow: 1px 1px 7px rgba(0,0,0,.5);
}
section.four .container .row form .inputInt {
  border-bottom: 1px solid #000;
  width: 70%;
  margin-right: 3%;
  padding-bottom: 1%;
}
section.four .container .row form {
  margin-top: 3%;
}
section.four .container .row form .btnSubmit {
  width: 27%;
}
section.four .container .row form input,
section.four .container .row form .inputInt,
section.four .container .row form:focus-within .control .inputInt,
section.four .container .row form input::placeholder {
  color: #000;
  text-shadow: 0 0 8px;
}
section.four .container .row form input {
  background: transparent;
  outline: none;
  border: 0;
  width: 68%;
  padding-left: 2%;
  font-size: 20px;
  font-weight: bold;
}
section.four .container .row form:focus-within .control .inputInt {
  border-bottom: 1px solid #000;
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  section.one .container .row h2,
  section.one .container .row h3 {
    width: 100%;
  }
  section.one .container .row h2 {
    font-size: 3rem;
  }
  .xdBUc {
    width: 17px !important;
    height: 17px !important;
    position: relative;
    left: 4%;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-3.col-md-3.col-lg-3.col-xl-3 button.btn.btn-primary {
    font-size: 14px;
    width: 100%;
  }
  section.one .material-icons {
    font-size: 30px !important;
  }
  p.h6.mb-0,
  p.h6.mr-3.mb-0 {
    font-size: 14px;
  }
  section.one .container .row .col-sm-12.col-md-12.col-lg-12.col-xl-12 .col-sm-1.col-md-1.col-lg-1.col-xl-1.loops p.h6 {
    width: 25px;
    height: 25px;
    font-size: 13px;
  }

  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h2 {
    font-size: 35px;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5 {
    position: relative;
    top: 5%;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h1 {
    font-size: 2.5rem;
  }
  section.two .container .row .col-sm-6.col-md-6.col-lg-6.col-xl-6 p.h5,
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex p.h5,
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex a.btn,
  section.three .container .row .control .controlInt p.h5 {
    font-size: 16px;
  }
  section.three .container .row .pl-5.col-sm-6.col-md-6.col-lg-6.col-xl-6.d-flex a.btn {
    width: 70%;
  }
  section.three .container .row .control .controlInt span.material-icons {
    font-size: 50px;
  }

  section.four {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.four .container {
    position: initial;
  }
  section.four .container .row form .btnSubmit {
    width: 40%;
  }
  section.four .container .row form .btnSubmit button.btn {
    font-size: 14px;
  }
}
